/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/main'

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form.flex-condensed {
  .flex {
    padding-top: $spacers.zero.y !important;
    padding-bottom: $spacers.zero.y !important;
  }

  .input-group.radio-group, .input-groud.input-group--selection-controls {
    padding-top: $spacers.zero.y !important;
  }
}

div.condensed table, table.condensed {
  tbody td  {
    height: 36px !important;
  }
}

.text-all-right {
    text-align: right !important;
}

.text-all-left {
    text-align: left !important;
}


.text-all-center {
    text-align: center !important;
}
